<div class="dashboard-container" *ngIf="userProfile">

    <div class="title">
        <h1>{{user.username}}</h1>
    </div>
      
    <div class="clearfix">
        <div class="content-left">
            <!-- <img class="profile" src='{{profilePicture}}'/> -->
            <img class="profile" src="assets/plazica.jpg"/>

            <p class="name">{{user.ime + " " + user.prezime}}</p>
            <p>E-mail: {{user.email}}</p>
            <p>Phone: {{user.telefon}}</p>
            <p>{{user.pol}}</p>
            <p>{{userProfile.description}}</p>

            <button mat-raised-button color="basic" (click)="editProfile()">
                <mat-icon>edit</mat-icon>
            </button>
            
        </div>
      
        <div class="content-right">

            
        </div>
    </div>


<mat-divider></mat-divider>

<div class="container">
    Postovi
</div>

</div>
