<div>
    <div class="toolbar">
        <h2>Dislinkt</h2>
        <div class="spacer"></div>
        <div *ngIf = "guest">
            <button mat-button  (click)="login()"><mat-icon>exit_to_app</mat-icon>  Sign In</button>
            <button mat-button (click)="register()"><mat-icon>person_add</mat-icon>  Sign Up</button>
        </div>
        <div *ngIf = "!guest">
            <button mat-button><mat-icon>exit_to_app</mat-icon>  Sign Out</button>
        </div>
    </div>
    <div class="content">
        <button class="postButton" mat-fab (click)="newPost()"><mat-icon>add</mat-icon></button>
        <app-center-container>
            <form [formGroup]="searchForm" class="search">
                <div [class.disabled]="searchPending">
                    <mat-icon>search</mat-icon>
                    <mat-form-field>
                        <mat-label>Search profile</mat-label>
                        <input 
                        matInput 
                        autocomplete="off"
                        formControlName="profile" 
                        placeholder="Enter profile name">
                    </mat-form-field>
                </div>
            </form>
        </app-center-container>
        <app-post *ngFor="let post of posts" [post]= "post"></app-post>
    </div>
</div>
