{
    "branches": [
       {"name":"development", "prerelease":false}, {"name": "main"},
    ],
    "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      [
        "@semantic-release/github",
        {
          "assets":[
            {
              "path":"dist.zip",
              "label":"dislinkt-front-latest.zip"
            }
          ]
        }
      ],
      "@semantic-release/changelog",
      [
        "@semantic-release/npm",
        {
          "npmPublish": true
        }
      ],
      ["@semantic-release/git",
	  {"assets": ["dist.zip"]}
	  ]
    ],
    "repositoryUrl": "https://github.com/dusan-madzarevic/dislinkt-frontend"
  }
