{
    "branches": [
      {"name": "main"}, {"name":"development"}
    ],
    "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      [
        "@semantic-release/github",
        {
          "assets":[
            {
              "path":"dist.zip",
              "label":"dislinkt-front-${nextRelease.gitTag}.zip"
            }
          ]
        }
      ],
      "@semantic-release/changelog",
      [
        "@semantic-release/npm",
        {
          "npmPublish": true
        }
      ],
      "@semantic-release/git"
    ],
    "repositoryUrl": "https://github.com/dusan-madzarevic/dislinkt-frontend"
  }
