mat-card{
    max-width: 600px;
    margin-bottom: 5px;
}

mat-icon.action{
    margin-right: 20px;
}

mat-icon{
    cursor: pointer;
}

input.comment{
    width: 300px;
}

textarea{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 1em;
    resize: none;
    width: 300px;
    min-height: 50px;
    border: none;
    outline: none;
}
