.card {
    display: flex;
    align-items: center;
}

img.profile {
    height: 50px;
    max-width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
 }

 div.date {
    color:grey;
    font-size: 14px;
    margin-top: 5px;
 }