<app-form-container>
    <h2>Sign Up</h2>
    <form [formGroup]="registrationForm">
        <div [class.disabled]="registrationPending">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input 
                matInput 
                autocomplete="off"
                formControlName="email" 
                placeholder="Enter email">
                <mat-error>
                    Email is required!
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input 
                matInput 
                autocomplete="off"
                formControlName="username"
                placeholder="Enter username">
                <mat-error>
                    Username is required!
                </mat-error>    
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input 
                type="password" 
                matInput 
                autocomplete="off"
                formControlName="password"
                placeholder="Enter password">
                <mat-error>
                    Password is required!
                </mat-error>    
            </mat-form-field>
            <mat-form-field>
                <mat-label>First name</mat-label>
                <input 
                matInput 
                autocomplete="off"
                formControlName="ime"
                placeholder="Enter first name">   
            </mat-form-field>
            <mat-form-field>
                <mat-label>Last name</mat-label>
                <input 
                matInput 
                autocomplete="off"
                formControlName="prezime"
                placeholder="Enter last name">   
            </mat-form-field>
            <mat-form-field>
                <mat-label>Phone</mat-label>
                <input 
                matInput 
                autocomplete="off"
                formControlName="telefon"
                placeholder="Enter phone number">   
            </mat-form-field>
            <mat-form-field>
                <mat-label>Birth date</mat-label>
                <input 
                matInput 
                [matDatepicker]="picker"
                formControlName="datumRodjenja"
                placeholder="Enter birth date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div>
                <mat-label>Gender</mat-label>
                <mat-radio-group ngDefaultControl formControlName="pol"
                aria-labelledby="pol-radio-group-label"
                class="pol-radio-group">
                    <mat-radio-button class="pol-radio-button" value="m">Male</mat-radio-button>
                    <mat-radio-button class="pol-radio-button" value="z">Female</mat-radio-button>
                </mat-radio-group>   
            </div> 
            <div>
                <mat-label>Profile privacy</mat-label>
                <mat-radio-group ngDefaultControl formControlName="privacy"
                aria-labelledby="pol-radio-group-label"
                class="pol-radio-group">
                    <mat-radio-button class="pol-radio-button" value="public">public</mat-radio-button>
                    <mat-radio-button class="pol-radio-button" value="private">private</mat-radio-button>
                </mat-radio-group>   
            </div> 
        </div>
        <br>
        <app-center-container>
            <button 
            *ngIf="!registrationPending"
            mat-raised-button 
            color="primary"
            (click)="register()">Sign Up</button>
            <app-spinner-button *ngIf="registrationPending"></app-spinner-button>
        </app-center-container>
        <app-center-container>
            <mat-icon [ngStyle]="{'color':'black'}">person_add</mat-icon>
            <a routerLink="login">Log In</a>
        </app-center-container>
    </form>
</app-form-container>
